Package: strace
Version: 1.1.0
Section: cleaner
Priority: optional
Architecture: amd64
Maintainer: Ubuntu MOTU Developers (ubuntu-motu@lists.ubuntu.com)
Description: to clean your linux and make him safty 
speed--
more storage 
easy to use 
